{
	"plugins": [["snowpack/assets/babel-plugin.js", {}]],
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"esmodules": true
				},
				"modules": "false",
				"useBuiltIns": false
			}
		]
	]
}
